 :root {
	 --text-color: #fff;
	 --gr-light: #0363cf;
	 --gr-dark: #021740;
	 --white: #fff;
	 --btn-bg: #2067fb;
	 --btn-shadow: #38b4ff;
	 --item-border: #006cb4;
	 --form-placeholder-color: #999db0;
	 --experience-border-color: rgba(39, 95, 163, .5);
	 --footer-border: rgba(153, 157, 176, .2);
	 //--footer-border: rgba(25, 45, 80, .2);
	 --bg-dark: #01173e;
	 --modal-bg: rgba(2,50,113, 75%);
	 //--a: #023271;
	 //023271
	 
	 
	 --font: 'Rubik', sans-serif;
	 
	 font-size: 16px;
	 
 }